<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Permanent+Marker&family=Potta+One&family=Racing+Sans+One&family=Rakkas&family=Sarina&family=Shrikhand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css" />
</head>
<body class="profile">
  <h1 class="profileH1">My Favorite Restaurants</h1>
    <div>  
      <a id="goBackButton">Go Back</a>
       <a class="homeBtn" href="/main">Home</a>
       <a href="/logout">Logout</a>
    </div>
  <% if (favorites.length === 0) { %>
    <h2 class="noRestSaved">No Restaurants saved yet. Start adding some!</h2
  <% } else { %>
    <ul class="favoritedRestaurants">
      <% favorites.forEach(restaurant => { %>
        <li class="profileLi">
          <h2 class="favName"><%= restaurant.name %></h2>
          <p>Price: <%= restaurant.price %></p>
          <p>Category: <%= restaurant.category %></p>
          <p>Style: <%= restaurant.style %></p>
          <p>Description: <%= restaurant.description %></p>
          <form action="/deleteRestaurant/<%= restaurant._id %>?_method=DELETE" method="POST">
            <button class="fa fa-trash-o" type="submit"></button>
          </form>
        </li>
      <% }) %>
    </ul>
  <% } %>
  <script src="/profile.js"></script>
</body>
</html>
